Package: com.akylas.ccblurmusic
Name: Music Controls Customizer
Depends: de.j-gessner.ccloader, firmware (>= 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Your Ultimate music controls customizer!
Author: Martin Guillon
Section: Addons (ControlCenter)
