<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>           <array>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>           <string>Artwork Background</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Enabled</string>
            <key>key</key>             <string>ccArtworkEnabled</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <false/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Scale to fit</string>
            <key>key</key>             <string>ccArtworkScaleToFit</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>           <string>Artwork opacity</string>
        </dict>
        <dict>
            <key>showValue</key>       <true/>
            <key>max</key>             <integer>1</integer>
            <key>min</key>             <real>0.01</real>
            
            <key>cell</key>            <string>PSSliderCell</string>
            <key>default</key>         <real>1.0</real>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>key</key>             <string>ccArtworkOpacity</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>           <string>Music Widget Default text</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSEditTextCell</string>
            <key>default</key>         <string>No Music playing</string>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>key</key>             <string>ccNoPlayingText</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>           <string>Music Widget Sections</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Progressbar</string>
            <key>key</key>             <string>ccShowTime</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Track Informations</string>
            <key>key</key>             <string>ccShowInfo</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Playback Controls</string>
            <key>key</key>             <string>ccShowButtons</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Volume Control</string>
            <key>key</key>             <string>ccShowVolume</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <false/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Airplay button</string>
            <key>key</key>             <string>ccShowAirplay</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>           <string>Gestures</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Enabled</string>
            <key>key</key>             <string>ccGesturesEnabled</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <false/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>Hide CC on Play/Pause</string>
            <key>key</key>             <string>ccHideOnPlayPause</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>
        <dict>
            <key>cell</key>            <string>PSSwitchCell</string>
            <key>default</key>         <true/>
            <key>defaults</key>        <string>com.akylas.mccustomizer</string>
            <key>label</key>           <string>No Music: One tap to open</string>
            <key>key</key>             <string>ccOneTapToOpenNoMusic</string>
            <key>PostNotification</key><string>com.akylas.mccustomizer.preferences-changed</string>
        </dict>

    </array>
    <key>title</key>           <string>Control Center</string>

</dict>
</plist>